<div id="<%= dom_id my_book %>">
  <p>
    <strong>Title:</strong>
    <%= my_book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= my_book.author %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= my_book.description %>
  </p>

</div>
